@import url(https://fonts.googleapis.com/css?family=Oswald:500&display=swap&subset=cyrillic-ext);

@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap&subset=cyrillic-ext);

@font-face {
  font-family: "Oswald-Medium";
  font-display: swap;
  src: url("../fonts/Oswald-Medium.woff") format("woff"), url("../fonts/Oswald-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-mail:before {
  content: "\e900";
  color: #006ACC;
  font-size: 18px;
}

._icon-phone:before {
  content: "\e901";
  color: #006ACC;
  font-size: 18px;
}

._icon-point1:before {
  content: "\e902";
  color: #006ACC;
  font-size: 18px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Oswald-Medium";
  font-display: swap;
  src: url("../fonts/Oswald-Medium.woff") format("woff"), url("../fonts/Oswald-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Roboto-Regular";
  font-size: 66px;
  font-weight: normal;
  line-height: 1, 5;
  font-size: calc(35px + 31 * ((100vw - 320px) / 880));
  position: relative;
  overflow-x: hidden;
}

body.dis-active {
  overflow: hidden;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  /* @media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	} */
}

._menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger {
  position: absolute;
  right: 30px;
  top: 48px;
  opacity: 0;
}

.burger span {
  height: 2px;
  width: 24px;
  background-color: #ffffff;
  display: block;
}

.burger::before {
  content: "";
  height: 2px;
  width: 12px;
  background-color: #ffffff;
  position: absolute;
  bottom: 8px;
}

.burger::after {
  content: "";
  height: 2px;
  width: 12px;
  background-color: #ffffff;
  position: absolute;
  top: 8px;
  left: 12px;
}

.burger.is-active span {
  -webkit-animation-name: burgerEuro;
          animation-name: burgerEuro;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: steps(100, start);
          animation-timing-function: steps(100, start);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes burgerEuro {
  0% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(67.5deg);
            transform: rotate(67.5deg);
  }

  100% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@keyframes burgerEuro {
  0% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(67.5deg);
            transform: rotate(67.5deg);
  }

  100% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

.burger.dis-active span {
  -webkit-animation-name: burgerAustr;
          animation-name: burgerAustr;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: steps(100, start);
          animation-timing-function: steps(100, start);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  animation-direction: reverse;
}

@-webkit-keyframes burgerAustr {
  0% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(67.5deg);
            transform: rotate(67.5deg);
  }

  100% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@keyframes burgerAustr {
  0% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(67.5deg);
            transform: rotate(67.5deg);
  }

  100% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

.burger.is-active:before {
  -webkit-animation-name: burgerEuro-before;
          animation-name: burgerEuro-before;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: steps(100, start);
          animation-timing-function: steps(100, start);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes burgerEuro-before {
  0% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  45% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-left: 16px;
  }

  90% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-bottom: -12px;
    margin-left: 12.5px;
  }

  100% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-bottom: -12px;
    margin-left: 10.5px;
  }
}

@keyframes burgerEuro-before {
  0% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  45% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-left: 16px;
  }

  90% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-bottom: -12px;
    margin-left: 12.5px;
  }

  100% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-bottom: -12px;
    margin-left: 10.5px;
  }
}

.burger.dis-active:before {
  -webkit-animation-name: burgerAustr-before;
          animation-name: burgerAustr-before;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: steps(100, start);
          animation-timing-function: steps(100, start);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  animation-direction: reverse;
}

@-webkit-keyframes burgerAustr-before {
  0% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  45% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-left: 16px;
  }

  90% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-bottom: -12px;
    margin-left: 12.5px;
  }

  100% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-bottom: -12px;
    margin-left: 10.5px;
  }
}

@keyframes burgerAustr-before {
  0% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  45% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-left: 16px;
  }

  90% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-bottom: -12px;
    margin-left: 12.5px;
  }

  100% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-bottom: -12px;
    margin-left: 10.5px;
  }
}

.burger.is-active:after {
  -webkit-animation-name: burgerEuro-after;
          animation-name: burgerEuro-after;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: steps(200, start);
          animation-timing-function: steps(200, start);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes burgerEuro-after {
  0% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  45% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    margin-left: -16px;
  }

  90% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    margin-left: -12px;
    margin-top: -13.5px;
  }

  100% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -13.5px;
    margin-left: -11px;
  }
}

@keyframes burgerEuro-after {
  0% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  45% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    margin-left: -16px;
  }

  90% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    margin-left: -12px;
    margin-top: -13.5px;
  }

  100% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -13.5px;
    margin-left: -11px;
  }
}

.burger.dis-active:after {
  -webkit-animation-name: burgerAustr-after;
          animation-name: burgerAustr-after;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: steps(200, start);
          animation-timing-function: steps(200, start);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  animation-direction: reverse;
}

@-webkit-keyframes burgerAustr-after {
  0% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  45% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    margin-left: -16px;
  }

  90% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    margin-left: -12px;
    margin-top: -13.5px;
  }

  100% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -13.5px;
    margin-left: -11px;
  }
}

@keyframes burgerAustr-after {
  0% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  45% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    margin-left: -16px;
  }

  90% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    margin-left: -12px;
    margin-top: -13.5px;
  }

  100% {
    -webkit-transform-origin: center 0;
            transform-origin: center 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -13.5px;
    margin-left: -11px;
  }
}

.burger-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff4f;
  position: absolute;
  right: 30px;
  margin-right: -7.2px;
  top: 30px;
  opacity: 0;
  display: none;
}

.burger-circle:hover {
  opacity: 1;
}

.burger-circle.is-active {
  -webkit-animation-name: burgerEuro-circle;
          animation-name: burgerEuro-circle;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: steps(100, start);
          animation-timing-function: steps(100, start);
}

@-webkit-keyframes burgerEuro-circle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }

  90% {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

@keyframes burgerEuro-circle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }

  90% {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

.burger-circle.dis-active {
  -webkit-animation-name: burgerAustr-circle;
          animation-name: burgerAustr-circle;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: steps(100, start);
          animation-timing-function: steps(100, start);
  animation-direction: reverse;
}

@-webkit-keyframes burgerAustr-circle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }

  90% {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

@keyframes burgerAustr-circle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }

  90% {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

._buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 307px;
  font-size: 18px;
  z-index: 1;
  cursor: pointer;
}

._buttons a {
  color: #ffffff;
}

._buttonsItem_1:after {
  content: "";
  height: 2px;
  width: 32px;
  background-color: #006acc;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2px;
}

._address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  font-size: 16px;
  z-index: 1;
}

._address p:first-child {
  margin-right: 12px;
}

._contactsItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  z-index: 50;
  padding-right: 10px;
}

._contactsItems p {
  margin-right: 12px;
  z-index: 50;
}

.header {
  z-index: 10;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__backBurgerMenu {
  position: absolute;
  background-color: #231c8d;
  width: 100%;
  height: 100vh;
  right: -100%;
  bottom: 100%;
  z-index: 15;
}

.header__backBurgerMenu.is-active {
  -webkit-animation-name: burgerEuro-backBurgerMenu;
          animation-name: burgerEuro-backBurgerMenu;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: steps(300, start);
          animation-timing-function: steps(300, start);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes burgerEuro-backBurgerMenu {
  0% {
    right: -100%;
    bottom: 100%;
  }

  20% {
    right: -80%;
    bottom: 80%;
  }

  40% {
    right: -60%;
    bottom: 60%;
  }

  60% {
    right: -40%;
    bottom: 40%;
  }

  80% {
    right: -20%;
    bottom: 20%;
    border-bottom-left-radius: 40vw;
  }

  95% {
    right: -5%;
    bottom: 0;
  }

  100% {
    right: 0;
    top: 0;
  }
}

@keyframes burgerEuro-backBurgerMenu {
  0% {
    right: -100%;
    bottom: 100%;
  }

  20% {
    right: -80%;
    bottom: 80%;
  }

  40% {
    right: -60%;
    bottom: 60%;
  }

  60% {
    right: -40%;
    bottom: 40%;
  }

  80% {
    right: -20%;
    bottom: 20%;
    border-bottom-left-radius: 40vw;
  }

  95% {
    right: -5%;
    bottom: 0;
  }

  100% {
    right: 0;
    top: 0;
  }
}

.header__backBurgerMenu.dis-active {
  overflow: hidden;
  -webkit-animation-name: burgerAustr-backBurgerMenu;
          animation-name: burgerAustr-backBurgerMenu;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  animation-direction: reverse;
}

@-webkit-keyframes burgerAustr-backBurgerMenu {
  0% {
    right: -100%;
    bottom: 100%;
    opacity: 0;
  }

  20% {
    right: -80%;
    bottom: 80%;
    opacity: 0;
  }

  40% {
    right: -60%;
    bottom: 60%;
    opacity: 1;
  }

  60% {
    right: -40%;
    bottom: 40%;
    opacity: 1;
  }

  80% {
    right: -20%;
    bottom: 20%;
    opacity: 1;
  }

  100% {
    right: 0;
    top: 0;
    opacity: 1;
    border-bottom-left-radius: 40vw;
  }
}

@keyframes burgerAustr-backBurgerMenu {
  0% {
    right: -100%;
    bottom: 100%;
    opacity: 0;
  }

  20% {
    right: -80%;
    bottom: 80%;
    opacity: 0;
  }

  40% {
    right: -60%;
    bottom: 60%;
    opacity: 1;
  }

  60% {
    right: -40%;
    bottom: 40%;
    opacity: 1;
  }

  80% {
    right: -20%;
    bottom: 20%;
    opacity: 1;
  }

  100% {
    right: 0;
    top: 0;
    opacity: 1;
    border-bottom-left-radius: 40vw;
  }
}

.header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__menu {
  margin-top: 44px;
}

.header__logo {
  z-index: 50;
}

.header__address.is-active,
.header__button.is-active,
.header__contacts.is-active {
  overflow: hidden;
  -webkit-animation-name: burgerEuro-address;
          animation-name: burgerEuro-address;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes burgerEuro-address {
  0% {
    position: absolute;
    right: -100%;
    bottom: 100%;
  }

  20% {
    position: relative;
    right: -80%;
    bottom: 80%;
  }

  40% {
    position: relative;
    right: -60%;
    bottom: 60%;
  }

  60% {
    position: relative;
    right: -40%;
    bottom: 40%;
  }

  80% {
    position: relative;
    right: -20%;
    bottom: 20%;
  }

  100% {
    position: relative;
    right: auto;
    bottom: auto;
    margin-left: 35px;
    line-height: 2;
    margin-top: 10px;
  }
}

@keyframes burgerEuro-address {
  0% {
    position: absolute;
    right: -100%;
    bottom: 100%;
  }

  20% {
    position: relative;
    right: -80%;
    bottom: 80%;
  }

  40% {
    position: relative;
    right: -60%;
    bottom: 60%;
  }

  60% {
    position: relative;
    right: -40%;
    bottom: 40%;
  }

  80% {
    position: relative;
    right: -20%;
    bottom: 20%;
  }

  100% {
    position: relative;
    right: auto;
    bottom: auto;
    margin-left: 35px;
    line-height: 2;
    margin-top: 10px;
  }
}

.header__address.dis-active,
.header__button.dis-active,
.header__contacts.dis-active {
  overflow: hidden;
  -webkit-animation-name: burgerAustr-address;
          animation-name: burgerAustr-address;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: steps(300, start);
          animation-timing-function: steps(300, start);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  animation-direction: reverse;
}

@-webkit-keyframes burgerAustr-address {
  0% {
    position: absolute;
    right: -100%;
    bottom: 100%;
    opacity: 0;
  }

  20% {
    position: relative;
    right: -80%;
    bottom: 80%;
    opacity: 0;
  }

  40% {
    position: relative;
    right: -60%;
    bottom: 60%;
    opacity: 1;
  }

  60% {
    position: relative;
    right: -40%;
    bottom: 40%;
    opacity: 1;
  }

  80% {
    position: relative;
    right: -20%;
    bottom: 20%;
    opacity: 1;
  }

  100% {
    position: relative;
    right: auto;
    bottom: auto;
    margin-left: 35px;
    line-height: 2;
    margin-top: 10px;
    opacity: 1;
  }
}

@keyframes burgerAustr-address {
  0% {
    position: absolute;
    right: -100%;
    bottom: 100%;
    opacity: 0;
  }

  20% {
    position: relative;
    right: -80%;
    bottom: 80%;
    opacity: 0;
  }

  40% {
    position: relative;
    right: -60%;
    bottom: 60%;
    opacity: 1;
  }

  60% {
    position: relative;
    right: -40%;
    bottom: 40%;
    opacity: 1;
  }

  80% {
    position: relative;
    right: -20%;
    bottom: 20%;
    opacity: 1;
  }

  100% {
    position: relative;
    right: auto;
    bottom: auto;
    margin-left: 35px;
    line-height: 2;
    margin-top: 10px;
    opacity: 1;
  }
}

.header__Contacts {
  z-index: 50;
}

.header__contactsPhone1 a,
.header__contactsPhone2 a,
.header__contactsMail p {
  color: #ffffff;
  z-index: 50;
}

.header__promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__promo.dis-active {
  display: none;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

.header__titleBig {
  font-family: Oswald-Medium;
  font-weight: 500;
  font-size: 50px;
  line-height: 148.48485%;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 100px;
  z-index: 11;
}

.header__titleBig li:first-child {
  font-size: 66px;
}

.header__subtitle {
  position: static;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  margin-top: 60px;
  max-width: 440px;
  z-index: 11;
}

.header__promoFotoWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 70px;
}

.header__promoFoto {
  position: relative;
  max-width: 540px;
  z-index: 1;
}

.header__promoFoto img {
  position: relative;
  margin-left: -100px;
  width: 150%;
  height: auto;
}

.header_icon-point1 {
  color: #006acc;
  z-index: 50;
}

.header_icon-phone {
  color: #006acc;
  z-index: 50;
}

.header_icon-mail {
  color: #006acc;
  z-index: 50;
}

.backgroundTop-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.no-webp .backgroundTop{
  background-image: url("../img/headerBack.png"); }

.backgroundTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  z-index: 1;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.opportunities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.opportunities__title-deliveries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opportunities__title-deliveries_center {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
}

.opportunities__title-deliveries_center:after {
  content: "";
  position: absolute;
  top: 0;
  left: -2em;
  width: 160%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0))) no-repeat -2em 0%;
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) no-repeat -2em 0%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) no-repeat -2em 0%;
  background-size: 2em 100%;
  -webkit-transform: skewX(-50deg);
      -ms-transform: skewX(-50deg);
          transform: skewX(-50deg);
}

.opportunities__title-deliveries_center:hover:after {
  -webkit-transition: 2s linear;
  -o-transition: 2s linear;
  transition: 2s linear;
  background-position: 100% 0%;
}

.opportunities__wrapperEquipment {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 28px;
}

.opportunities__wrapperEquipmentFirstBlock {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.opportunities__innerImage1,
.opportunities__innerImage2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px;
}

.opportunities__imageFirstBlock,
.opportunities__imageSecondBlock {
  height: 211px;
  max-width: 516px;
  border-radius: 5px;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 27px;
  width: 100%;
  margin: 27px auto 0 0;
}

.opportunities__list {
  margin-bottom: 40px;
  margin-left: 20px;
  font-size: 16px;
  padding-left: 30px;
}

.opportunities__list li:hover {
  font-size: 25px;
  color: #0818f8;
}

.opportunities__list li:before {
  content: "";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #006acc;
  margin: 0 14px 2px -20px;
}

.opportunities__wrapperEquipmentSecondBlock {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.opportunities__text span {
  font-weight: bold;
}

.opportunities__text {
  margin-right: 30px;
  margin-bottom: 40px;
  font-size: 16px;
  padding-left: 30px;
}

.opportunities__opportunitiesWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.opportunities ._inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 321px;
  max-width: 600px;
  border: 1px solid #e5e5e5;
  margin: auto;
}

.opportunities ._pic {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: none;
  margin-bottom: 8%;
}

.opportunities ._box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  padding-right: 30px;
  position: relative;
}

.opportunities ._titleInBox {
  font-family: Oswald-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 116%;
  margin-bottom: 25px;
  position: relative;
}

.opportunities ._titleInBox:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  width: 0;
  overflow: hidden;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.opportunities ._titleInBox:hover:before {
  width: 100%;
}

.opportunities ._textInBox {
  font-size: 16px;
}

._titleWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 80px;
  margin: 0 20px;
}

._lineTitle {
  height: 1px;
  width: 100%;
  background-color: #e5e5e5;
  -ms-flex-item-align: center;
      align-self: center;
}

._point {
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #e5e5e5;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

._centerTitle {
  font-family: Oswald-Medium;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  font-size: 30px;
  text-align: center;
  color: #113255;
  margin: 0 23px;
}

.BlockAll {
  max-width: 586px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #e5e5e5;
}

.titleBlock {
  font-family: Oswald-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  padding-left: 30px;
}

.titleBlock-first {
  margin-top: 27px;
  margin-bottom: 27px;
  margin-right: 30px;
  position: relative;
}

.titleBlock-first:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 30px;
  color: red;
  width: 0;
  overflow: hidden;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.titleBlock-first:hover:before {
  width: 100%;
}

.titleBlock-second {
  margin-top: 30px;
  margin-bottom: 33px;
  margin-right: 30px;
  position: relative;
}

.titleBlock-second:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 30px;
  color: red;
  width: 0;
  overflow: hidden;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.titleBlock-second:hover:before {
  width: 100%;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 46px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.brand__wrapper {
  margin-bottom: 20px;
}

.brand__title-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand__title-brand_center ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brand__title-brand_center ul:hover li {
  -webkit-animation: animate 3s linear infinite;
          animation: animate 3s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
    opacity: 1;
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }

  60% {
    -webkit-transform: rotate(45deg) translateY(-120px);
            transform: rotate(45deg) translateY(-120px);
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px);
  }

  61% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
    opacity: 1;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
    opacity: 1;
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }

  60% {
    -webkit-transform: rotate(45deg) translateY(-120px);
            transform: rotate(45deg) translateY(-120px);
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px);
  }

  61% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
    opacity: 1;
  }
}

.brand__title-brand_center ul li:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.brand__title-brand_center ul li:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.brand__title-brand_center ul li:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.brand__title-brand_center ul li:nth-child(4) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.brand__title-brand_center ul li:nth-child(5) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.brand__title-brand_center ul li:nth-child(6) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.brand__subtitle {
  text-align: center;
  font-size: 16px;
  padding: 0 10px;
}

.brand__logoWrapper {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.brand__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-width: 283px;
  min-height: 97px;
  margin-bottom: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;
}

.brand__logo:hover {
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transform: scale(1.3, 1.3);
      -ms-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
  z-index: 21;
  -webkit-box-shadow: 5px 5px 10px gray;
          box-shadow: 5px 5px 10px gray;
}

.no-webp .certificate{
  background-image: url(../img/background.png); }

.certificate {
  width: 100%;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: none;
  padding-bottom: 56px;
}

.certificate__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 92px;
}

.certificate__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 266px;
}

.certificate__text p {
  font-style: normal;
  margin-bottom: 35px;
  font-size: 16px;
}

.certificate__title {
  font-family: Oswald-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 40px;
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.certificate__title li {
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}

.certificate__title:hover li {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.certificate__title:hover li:nth-child(2) {
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.certificate__title:hover li:nth-child(3) {
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.certificate__title:hover li:nth-child(4) {
  -webkit-transition-delay: 0.9s;
       -o-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.certificate__title:hover li:nth-child(5) {
  -webkit-transition-delay: 1.2s;
       -o-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.certificate__title:hover li:nth-child(6) {
  -webkit-transition-delay: 1.5s;
       -o-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.certificate__title:hover li:nth-child(7) {
  -webkit-transition-delay: 1.8s;
       -o-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

.certificate__title:hover li:nth-child(8) {
  -webkit-transition-delay: 2.1s;
       -o-transition-delay: 2.1s;
          transition-delay: 2.1s;
}

.certificate__title:hover li:nth-child(9) {
  -webkit-transition-delay: 2.4s;
       -o-transition-delay: 2.4s;
          transition-delay: 2.4s;
}

.certificate__title:hover li:nth-child(10) {
  -webkit-transition-delay: 2.7s;
       -o-transition-delay: 2.7s;
          transition-delay: 2.7s;
}

.certificate__title:hover li:nth-child(11) {
  -webkit-transition-delay: 3s;
       -o-transition-delay: 3s;
          transition-delay: 3s;
}

.certificate__frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 266px;
  min-height: 365px;
  border: 1px solid #cdd2e0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
}

.certificate__frame:hover {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  z-index: 21;
  -webkit-box-shadow: 5px 5px 10px gray;
          box-shadow: 5px 5px 10px gray;
}

.certificate__certificatePic {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  min-width: 250px;
  min-height: 349px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.no-webp ._backgroundFooter{
  background-image: url("../img/headerBack.png"); }

._backgroundFooter {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  z-index: 1;
}

.footer {
  z-index: 10;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__content {
  min-height: 200px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 50px 0;
}

.footer__ContactsPhone1 a,
.footer__ContactsPhone2 a {
  color: #ffffff;
}

.footer__inner {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 1.8;
}

.footer__requisites {
  color: #ffffff;
}

.footer__requisites li:first-child {
  font-weight: bold;
  font-size: 16px;
}

.footer__logo_2 {
  padding: 0 5px;
}

@media (max-width: 1240px) {
  .opportunities__wrapperEquipmentFirstBlock {
    margin: 0 15px;
  }

  .opportunities__wrapperEquipmentSecondBlock {
    margin: 0 15px;
  }
}

@media (max-width: 1235px) {
  .header__content {
    margin-right: 10px;
  }

  .header__logo {
    margin-left: 35px;
  }

  .header__promo {
    margin-left: 35px;
  }
}

@media (max-width: 1220px) {
  .certificate__text p {
    padding-left: 10px;
  }

  .certificate__title {
    padding-left: 10px;
  }

  .footer__logo_top {
    padding-left: 10px;
  }

  .footer__inner {
    padding: 20px 10px 0;
  }
}

@media (max-width: 1100px) {
  .burger {
    opacity: 1;
    z-index: 100;
  }

  .burger-circle {
    display: block;
    z-index: 5;
    z-index: 35;
  }

  ._buttonsItem_1:after {
    content: "";
    margin-top: 0px;
    position: relative;
  }

  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    z-index: 30;
  }

  .header__menu.is-active {
    overflow: auto;
  }

  .header__logo {
    margin-top: 44px;
  }

  .header__button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__button,
  .header__address,
  .header__contacts {
    position: absolute;
    overflow: hidden;
    right: -120%;
    bottom: -120%;
  }

  .header__titleBig li:first-child {
    padding-top: 30px;
  }

  .header__subtitle {
    max-width: 360px;
  }

  .header__promoFoto {
    margin-top: 110px;
  }

  ._titleWrapper {
    opacity: 1;
    padding-top: 40px;
  }
}

@media (max-width: 1000px) {
  .footer__button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100px;
    padding-left: 10px;
  }
}

@media (max-width: 940px) {
  .footer__logo_1 {
    display: none;
  }
}

@media (max-width: 830px) {
  .footer__logo_top {
    display: none;
  }

  .footer__logo_2 {
    display: none;
  }
}

@media (max-width: 814px) {
  .certificate {
    padding-bottom: 30px;
  }

  .certificate__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 30px;
  }

  .certificate__title {
    margin-bottom: 30px;
    padding-top: 0;
  }

  .certificate__frame {
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .header__titleBig li:first-child {
    font-size: 48px;
  }

  .header__titleBig li {
    font-size: 36px;
    line-height: 1.5;
  }

  .header__subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 320px;
  }

  .header__promoFoto {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media (max-width: 700px) {
  .opportunities__wrapperEquipmentFirstBlock {
    margin: 0 8px;
  }

  .opportunities__innerImage1,
  .opportunities__innerImage2 {
    padding: 0 15px;
  }

  .opportunities__imageFirstBlock,
  .opportunities__imageSecondBlock {
    margin: 15px auto 0 0;
  }

  .opportunities__wrapperEquipmentSecondBlock {
    margin: 0 8px;
  }

  ._centerTitle {
    font-size: 20px;
  }

  .brand {
    margin-top: 6px;
  }

  .brand__logoWrapper {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media (max-width: 650px) {
  .opportunities ._inner {
    margin: 0 15px;
    min-height: 250px;
  }
}

@media (max-width: 600px) {
  .opportunities__wrapperEquipment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .opportunities__text {
    margin-bottom: 20px;
  }
}

@media (max-width: 582px) {
  .brand__logo {
    margin: 0 auto 20px;
  }
}

@media (max-width: 550px) {
  .header__title {
    width: 90%;
  }

  .header__promoFoto {
    width: 100%;
    margin-top: 0px;
  }

  .footer__inner {
    padding: 15px 10px 0;
  }

  .footer__logo_1 {
    display: block;
  }

  .footer__logo_3 {
    display: none;
  }

  .footer__logo_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #ffffff;
  }
}

@media (max-width: 548px) {
  .certificate__text {
    max-width: 90%;
  }

  .certificate__title {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .opportunities__title-deliveries_center {
    font-size: 14px;
  }

  ._centerTitle {
    margin: 0 2px;
  }

  .titleBlock {
    margin: 15px 0;
  }

  .brand__title-brand {
    font-size: 20px;
  }
}

@media (max-width: 460px) {
  .opportunities ._pic {
    position: absolute;
    background-size: contain;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 0;
    opacity: 0.5;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .opportunities ._titleInBox {
    font-size: 24px;
    font-weight: 1.2;
    position: relative;
    text-align: center;
  }

  .opportunities ._textInBox {
    font-size: 15px;
    font-weight: 1.2;
    position: relative;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .opportunities ._box {
    padding: 0 5px;
  }
}

@media (max-width: 320px) {
  .header__titleBig li:first-child {
    font-size: 35px;
  }

  .header__titleBig li {
    font-size: 25px;
    line-height: 1.5;
  }

  .header__subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .certificate {
    padding-bottom: 10px;
  }
}

.webp .backgroundTop{ background-image: url(../img/headerBack.webp); }

.webp .certificate{ background-image: url(../img/background.webp); }

.webp ._backgroundFooter{ background-image: url(../img/headerBack.webp); }